@font-face {
    font-family: 'Enchanted-land';
    font-display: fallback;
    src: url('/assets/fonts/enchanted_land.otf') format('otf');
}
@font-face {
    font-family: 'Deutsch-gothic';
    font-display: fallback;
    src: url('/assets/fonts/deutsch.ttf') format('ttf');
}
@font-face {
    font-family: 'Augusta';
    font-display: fallback;
    src: url('/assets/fonts/augusta.ttf') format('ttf');
}