@font-face {
    font-family: 'Enchanted land';
    src: url('src/assets/fonts/enchanted_land.otf') format('opentype');
}
@font-face {
    font-family: 'Deutsch Gothic';
    src: url('src/assets/fonts/deutsch.ttf') format('opentype');
}
@font-face {
    font-family: 'Augusta';
    src: url('src/assets/fonts/augusta.ttf') format('opentype');
}